/*.setup-pane {
    -fx-background-image: url("../img/board/MastersOfRenaissancePlayerBoard2.png");
    -fx-background-position: right bottom;
}
*/
.cards{
    -fx-border-radius: 30;
}
.game-pane{
    -fx-background-image: url("../img/gameBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}
.popup-box{
    -fx-background-color: white;
}

