/*.setup-pane {
    -fx-background-image: url("../img/board/MastersOfRenaissancePlayerBoard2.png");
    -fx-background-position: right bottom;
}
*/
.root {
}
Label, .label, Text, .text, Button, .button, TextField, .text-field, GridPane, .gridPane {
    -fx-font-family:"SansSerif" ;
    -fx-font-size: 12 ;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.cards{
    -fx-border-radius: 30;
}
.game-pane{
    -fx-background-image: url("../img/gameBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}
.popup-box{
    -fx-background-color: white;
}

